.forgot_password {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 70%;
}
.forgot_password form {
    background-color: rgba(108, 106, 106, 0.475);
    margin-left: 50%;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
.forgot_password form input[type="text"] {
    width: 80%;
    height: 10%;
    padding: 0px 5px;
    border-radius: 5px;

}
#password, #Re_Password{
    width: 80%;
    height: 10%;
    padding: 0px 5px;
    border-radius: 5px;
}
.forgot_password form input[type="submit"] {
    width: 30%;
    height: 10%;
    margin-left: 35%;
    padding: 0px 10px;
    border-radius: 5px;

}
.forgot_password form select {
    width: 80%;
    height: 10%;
    border-radius: 5px;

}
.forgot_password form label {
    font-size: 1.5rem;
}