/* your styles go here */
.logo {
  font-family: "Montserrat", sans-serif;
}

.logo a {
  font-weight: 900;
}

ul li a {
  text-decoration: none;
}

.header-container .navbar-container ul li a {
  color: black;
  font-size: 17px;
  letter-spacing: 0.2em;
}
.navbar-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding-top: 2vh;
}

.nav-right {
  display: flex;
  list-style: none;
}

.nav-link {
  padding-right: 15px;
}

ul {
  list-style: none;
}

.nav-link .fa {
  font-size: 20px;
}

.nav-link .bag-icon {
  padding-left: 20px;
}

li.sign {
  background-color: #fff;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

li.sign:hover {
  background-color: #f2f2f2;
  color: #333;
}

.sign{
    display: block;
}
.nav-link:hover a{
    color: #0AA8A8 !important;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


