<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountProfileController</servlet-name>
        <servlet-class>controller.AccountProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>controller.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreController</servlet-name>
        <servlet-class>controller.StoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_CreateVariantController</servlet-name>
        <servlet-class>controller.Admin_CreateVariantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteProductController</servlet-name>
        <servlet-class>controller.Admin_DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteVariantController</servlet-name>
        <servlet-class>controller.Admin_DeleteVariantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ProductVariantListController</servlet-name>
        <servlet-class>controller.Admin_ProductVariantListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateProductController</servlet-name>
        <servlet-class>controller.Admin_UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateVariantController</servlet-name>
        <servlet-class>controller.Admin_UpdateVariantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ProductionListController</servlet-name>
        <servlet-class>controller.Admin_ProductionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPageController</servlet-name>
        <servlet-class>controller.ErrorPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_CreateProductController</servlet-name>
        <servlet-class>controller.Admin_CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminColorListController</servlet-name>
        <servlet-class>controller.AdminColorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHideColor</servlet-name>
        <servlet-class>controller.AdminHideColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateColorController</servlet-name>
        <servlet-class>controller.AdminCreateColorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateColor</servlet-name>
        <servlet-class>controller.AdminUpdateColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStorageLListController</servlet-name>
        <servlet-class>controller.AdminStorageLListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateStorageController</servlet-name>
        <servlet-class>controller.AdminUpdateStorageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHideStorageController</servlet-name>
        <servlet-class>controller.AdminHideStorageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateStorageController</servlet-name>
        <servlet-class>controller.AdminCreateStorageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleController</servlet-name>
        <servlet-class>controller.SaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrderController</servlet-name>
        <servlet-class>controller.AddToOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <servlet-class>controller.DeleteOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_OrderController</servlet-name>
        <servlet-class>controller.Admin_OderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ChangeStatusOrderController</servlet-name>
        <servlet-class>controller.Admin_ChangeStatusOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_OrderDetail</servlet-name>
        <servlet-class>controller.Admin_OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCartController</servlet-name>
        <servlet-class>controller.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrderHistoryDetailController</servlet-name>
        <servlet-class>controller.UserOrderHistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>controller.AboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlogController</servlet-name>
        <servlet-class>controller.AdminBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlogCategoryController</servlet-name>
        <servlet-class>controller.AdminBlogCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_CreateBlogCategoryController</servlet-name>
        <servlet-class>controller.Admin_CreateBlogCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideBlogCategory</servlet-name>
        <servlet-class>controller.HideBlogCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateBlogCategory</servlet-name>
        <servlet-class>controller.Admin_UpdateBlogCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_BlogListController</servlet-name>
        <servlet-class>controller.Admin_BlogListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountProfileController</servlet-name>
        <url-pattern>/account-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/sign-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreController</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_CreateVariantController</servlet-name>
        <url-pattern>/admin-create-variant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteProductController</servlet-name>
        <url-pattern>/admin-delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteVariantController</servlet-name>
        <url-pattern>/admin-delete-variant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ProductVariantListController</servlet-name>
        <url-pattern>/admin-variant-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateProductController</servlet-name>
        <url-pattern>/admin-update-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ProductionListController</servlet-name>
        <url-pattern>/admin-production-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateVariantController</servlet-name>
        <url-pattern>/admin-update-variant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPageController</servlet-name>
        <url-pattern>/error-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrderController</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <url-pattern>/delete-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_CreateProductController</servlet-name>
        <url-pattern>/admin-create-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminColorListController</servlet-name>
        <url-pattern>/color-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHideColor</servlet-name>
        <url-pattern>/admin-hide-color</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateColorController</servlet-name>
        <url-pattern>/create-color</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateColor</servlet-name>
        <url-pattern>/update-color</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStorageLListController</servlet-name>
        <url-pattern>/storage-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateStorageController</servlet-name>
        <url-pattern>/update-storage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHideStorageController</servlet-name>
        <url-pattern>/hide-storage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateStorageController</servlet-name>
        <url-pattern>/create-storage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleController</servlet-name>
        <url-pattern>/sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_OrderController</servlet-name>
        <url-pattern>/admin-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ChangeStatusOrderController</servlet-name>
        <url-pattern>/admin-change-order-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_OrderDetail</servlet-name>
        <url-pattern>/admin-order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCartController</servlet-name>
        <url-pattern>/my-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderHistoryDetailController</servlet-name>
        <url-pattern>/order-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUsController</servlet-name>
        <url-pattern>/about-us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogController</servlet-name>
        <url-pattern>/admin-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlogCategoryController</servlet-name>
        <url-pattern>/admin-blog-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_CreateBlogCategoryController</servlet-name>
        <url-pattern>/admin-create-blog-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideBlogCategory</servlet-name>
        <url-pattern>/hide-blog-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateBlogCategory</servlet-name>
        <url-pattern>/update-blog-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_BlogListController</servlet-name>
        <url-pattern>/admin-blog-list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
